@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

$font: 'Open Sans', sans-serif;

::-webkit-scrollbar {
	display: none;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin shadow($size) {
	box-shadow: 0 0 $size rgba(0, 0, 0, 0.3);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

* {
	text-align: center;
	text-decoration: none;
	font-family: $font;
	color: #fff;
}


$pale-white: #f2f2f2;
$black: #000;
$white: #fff;

body {
	background: $pale-white;
}

header {
	@include size(100vw, 100vh);
	background: $black;
	background-image: url("https://res.cloudinary.com/prvnbist/image/upload/v1494157877/download_vzueie.jpg");
	background-size: cover;
	background-position: center;

	#logo {
		@include size(80px, 80px);
		background: $white;
		position: absolute;
		top: 4vh;
		left: 4vw;
	}

	#menu-button {
		@include size(50px, 50px);
		background: #1ad2c7;
		border-radius: 50%;
		position: fixed;
		right: 4vw;
		top: 4vh;
		z-index: 100;
		transition: 0.3s ease-in-out;
		transform-origin: center;
		padding: 16px 0 0 12px;
		box-shadow: 5px 5px 30px -10px rgba(0, 0, 0, 0.3);

		.bar {
			@include size (25px, 2px);
			background: $white;

			&:nth-child(2) {
				margin: 6px 0;
			}
		}
	}
}

#menu-bg {
	@include size(50px, 50px);
	background: #1ad2c7;
	border-radius: 50%;
	position: fixed;
	right: 4vw;
	top: 4vh;
	z-index: 10;
	transition: 0.3s ease-in-out;
	transform-origin: center;
}

.nav {
	display: none;
	@include size(30vw, auto);
	@extend .center;
	z-index: 50;
	background: transparent;

	a {
		font-size: 40px;
		display: block;
		text-align: center;
		padding: 20px;
		animation: sup 0.5s linear;
		color: $white;
		font-weight: 600;
		font-family: $font;

		@keyframes sup {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
}

.show {
	display: block;
}

#wrap {
	width: 70%;
	@extend .center;

	h1 {
		display: inline;
		padding: 8px 10px;
		color: $white;
		background: #1ad2c7;
		line-height: 40px;
		font-size: 1rem;
	}
}

@media screen and (max-width:768px) {
 header {
	 .nav {
		 width:200px;
		 a {
			 font-size:32px;
		 }
	 }
  #wrap {
   width: 80%;
   h1 {
    font-size: 22px;
   }
  }
 }
}

@media screen and (max-width:480px) {
 header {
  #wrap {
   width: 85%;
   h1 {
    font-size: 20px;
    line-height: 45px;
   }
  }
 }
}

.big {
	transform: scale(200);
}

.one {
	transform: translateY(8px) rotate(45deg);
	transition: 0.2s linear;
}

.two {
	transform: scale(0);
}

.three {
	transform: translateY(-8px) rotate(-45deg);
	transition: 0.2s linear;
}