@import "page-header";
@import "page-content";
@import "page-footer";
@import "news-content";
@import "tour-content";
@import "offer-content";
@import "section-content";
@import "signon-content";
@import "profile-content";
@import "media-content";
@import "masonry-container";
@import "discography-content";
@import "media-photo-content";
@import "fancy-input-form";
@import "size-selector";

// form validation
span.inputError, ul.listError {
  color: tomato;
}

ul.listError li {
   list-style: disc;
   color: tomato;
}

// end: validation

.inputButton--facebook {
  padding: 0;
  background-color: #3b5998;
}

.pageContainer--fullPagePhotoContent {
	// background-color: paleturquoise;
	width: 100%;
  background-color: #333;

	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	img {
		// width: 100%;
		width: auto;
		height: 100%;
	}

	a.navToGallaryPanel {
		// background-color: tomato;
		position: absolute;
		height: 90%;
		width: 70%;
		top: 0;
		left: 15%;
		z-index: 800;
		border: none;
    cursor: zoom-out;
	}

	a.imageNavPanel {
		text-decoration: none;
	}

	.imageNavPanel {
		position: absolute;
		height: 90%;
		top: 0;
		width: 15%;
		border: none;

		display: flex;
		justify-content: center;
		align-items: center;

		i {
			visibility: hidden;
		}

		i.fa {
			color: #fff;
		}
	}

	.imageNavPanel:hover {
		cursor: pointer;
		i {
			visibility: visible;
		}
	}

	.imageNavPanel--left {
		left: 0;
	}

	.imageNavPanel--right {
		right: 0;
	}

	.imageTitle {
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		text-align: center;

		@include break(md) {
			left: 20px;
			width: 100%;
			text-align: left;
		}
		color: #fff;
	}
}
