@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

$font: 'Cabin', sans-serif;

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

$ease: cubic-besier(.63, -0.18, .44, 1.17);
$header-bg: #a2c2ab;
$header-circle-bg: #9bbba4;
$shapes: #a9c4b1;
$white: #fff;
$nav-hover: #b2cdba;

body {
	background: $header-bg;
	font-family: $font;
	overflow: hidden;
}

* {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-hover {
	&:before {
		content: "";
		position: absolute;
		@include size(120%, 10px);
		bottom: 0;
		left: -10%;
		border-radius: 60px;
		z-index: -1;
		transition: 0.3s $ease;
	}
}

header {
	#circular-bg {
		@include size(80vw, 80vw);
		background: $header-circle-bg;
		border-radius: 50%;
		@extend .center;
		z-index: -10;
	}

	#logo {
		@include size(30px, 115px);
		background: #000;
		color: $white;
		position: absolute;
		top: 30px;

		a {
			display: block;
			transform: rotate(90deg);
			padding-left: 15px;
			font-weight: 600;
			font-size: 1.0rem;
		}
	}

	nav {
		width: 350px;
		margin: 30px auto 0 auto;
		a {
			font-size: 1.5rem;
			margin-left: 25px;
			position: relative;
			@extend .nav-hover;

			&:first-child {
				margin-left: 0;
				position: relative; 
			}
		}
	}

	#menu-icon {
		float: right;
		margin: -15px 50px 0 0;
		.bar {
			@include size(25px, 2px);
			background: #fff;
			transition: 0.3s $ease;
			&:first-child {
				margin-bottom: 8px;
			}
		}

		&:hover {
			.bar:first-child {
				transform: translateY(5px) rotate(45deg);
			}
			.bar:last-child{
				transform: translateY(-5px) rotate(-45deg);
			}
		}
	}
}