mixin menuItems(...items)
  each item in items
    li.menuItem
      a(href='#')
        span= item

div.l-menuWrapper.menuWrapper.js-menuWrapper
  div.l-menuContainer.menuContainer.js-mobileMenuContainer
    ul.menuList
      +menuItems('Home')
      li.menuItem
        a(href='#').currentSelection
          span Color Palette
      +menuItems('Typography', 'Text Styles', 'Breakpoints', 'Buttons')
  
  //- include ./site-search-bar
