.l-siteNavContainer 
  .l-hamburgerPanel
    //- img(src='images/bar-menu.svg', style="width: 32px; height: auto")
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet").svg-mobileMenu
      path(fill="#444444" d="M0 1h16v3h-16v-3z")
      path(fill="#444444" d="M0 6h16v3h-16v-3z")
      path(fill="#444444" d="M0 11h16v3h-16v-3z")

  .l-siteLogoPanel 
    .siteLogo 
      img(src='images/logo.svg', width="100%" height="auto")
      //- img(src='images/wrong.svg', width="400px" height="35px")
      //- object(data='images/logo.svg' type="image/svg+xml")

  .l-siteMenuPanel 
    h2 Site Menu
