.l-siteNavContainer 
  .l-hamburgerPanel
    .hamburgerMenuLink.js-toggleMobileMenu
      .hamburgerMenuLink--bar
      .hamburgerMenuLink--bar
      .hamburgerMenuLink--bar

  .l-siteLogoPanel 
    .siteLogo nickelback

  .l-siteMenuPanel 
    h2 Site Menu
