.l-utilNavContainer 
  .l-utilityMenuPanel
    h2 Utility panel
  .l-socialNetworkPanel
    a(href="#").socialLink
      i.fa.fa-facebook.fa
    a(href="#").socialLink
      i.fa.fa-youtube.fa
    a(href="#").socialLink
      i.fa.fa-twitter.fa
    a(href="#").socialLink
      i.fa.fa-instagram.fa
    a(href="#").socialLink
      i.fa.fa-spotify.fa
