.l-utilNavContainer 
  .l-utilityMenuPanel
    h2 Utility panel
  .l-socialNetworkPanel
    a(href="#").socialLink
      i.fa.fa-facebook
    a(href="#").socialLink
      i.fa.fa-youtube
    a(href="#").socialLink
      i.fa.fa-twitter
    a(href="#").socialLink
      i.fa.fa-instagram
    a(href="#").socialLink
      i.fa.fa-spotify
