.l-pageContainer {
	// height: 100vh;
  // min-width: 320px;

  // Mobile-first settings:
  max-width: 736px;
  margin: 5vh auto 5vh auto;

	display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  // flex-wrap: wrap;
	// flex-direction: row;
  // align-content: space-between;

	.l-pageHeader {
    // border: solid 2px tomato;

    // flex-grow: 1;
    // flex-basis: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

    .l-utilNavContainer {
      // border: solid 2px greenyellow;

      // height: 90px;
      // width: 100%;

      display: flex;
      align-items: center;

      justify-content: space-around;
      @include break(md) {
        justify-content: space-between;
      }

      .l-utilityMenuPanel {
        // background-color: lightblue;

        display: none;

        @include break(md) {
          display: block;
        }
      }

      .l-socialNetworkPanel {
        background-color: #a01212;

        flex-basis: 100%;
        padding: .65rem 25% .65rem 20%;

        // flex-basis: 80%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        a.socialLink {
          flex: 0 0;
          color: #fff;
          text-decoration: none;
          border-bottom: none;
        }
      }
    }

    .l-siteNavContainer  {
      // border: solid 2px blueviolet;

      // height: 90px;
      // width: 100%;
      background-color: #fff;
      padding: 1.5rem 1.5rem;
      // padding: 1.5rem 3rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .l-hamburgerPanel {
        // background-color: lightcoral;

        .hamburgerMenuLink {
          .hamburgerMenuLink--bar {
            width: 35px;
            height: 7px;
            background-color: black;
            margin: 6px 0;
          }
        }

        display: block;
        @include break(md) {
          display: none;
        }
      }

      .l-siteLogoPanel {
        // background-color: lightblue;
        // padding: 0 15px;
        // padding: 0 20px;
        margin: 0 auto;
        
        flex: 1;

        // .siteLogo {
        //   font-family: Raleway,Helvetica,sans-serif;
        //   font-size: 2.7rem;
        //   // font-size: 3.2rem;
        //   font-weight: 700;
        //   text-align: center;
        //   text-transform: uppercase;
        //   color: #000;
        //   letter-spacing: .2px;
        // }

        .siteLogo {
          display: flex;
          justify-content: center;
          align-items: center;

          .imageResponsive {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .l-siteMenuPanel {
        background-color: lightcoral;

        display: none;
        @include break(md) {
          display: block;
        }
      }
    }

		@include break(md) {
      // flex-direction: row;
			justify-content: space-between;
		}

    .l-navContainer {
      border: solid 2px greenyellow;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .l-logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include break(md) {
          flex: 1;
        }
      }
    }

    .l-menuWrapper {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;

      @include break(md) {
        flex-direction: row;
        justify-content: flex-end;
      }

      .l-menuContainer {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        @include break(md) {
          display: block;
        }

        margin: 0;
      }

      .l-menuContainer.js-l-mobile {
        display: none;

        @include break(md) {
          display: block;
        }
      }
    }

	}

  .l-contentSection {
    border: solid 2px yellowgreen;

    height: 485px;
    width: 100%;
  }

  .l-pageContentWrapper {
    flex: 1;
    flex-basis: 100%;

    // align-self: stretch;

    display: flex;
    flex-direction: column;

    .l-contentContainer {
      flex: 1;
    }
  }

  // .l-pageFooter {
  //   flex-basis: 100%;
  // }
}

// .l-pageContainer.pageContainer {
	/* fix for firefox autocomplete positioning */
	// position: absolute;
	// width: 100%;
// }

.l-contentFooterContainer {
  margin: 0;
}

.l-fixed-header .l-pageContentWrapper {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.l-contentHeaderContainer {

	.l-header {
    min-height: 50px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;

    padding: 30px 2px;

    @include break(md) {
      padding: 20px;
    }

    .l-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span.title {
        letter-spacing: 8px;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
        color: #009cde;
      }
    }

		.l-breadCrumbs {
      display: none;

      @include break(md) {
        display: flex;
      }

			flex-wrap: nowrap;
			justify-content: flex-end;

      li {
        margin-left: 10px;
        color: #009cde;

        a {
          cursor: auto;
          font-size: 1.1rem;
          letter-spacing: 2px;
        }

        a, a:visited, a:focus {
          text-decoration: none;
          outline: 0;
        }
      }
		}
	}
}
