
.l-pageContainer {
  // Mobile-first settings:
  max-width: 736px;

  background: #fff;
  margin: 0;
 
	display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .l-pageContentWraper {
    margin: 0;
    
    overflow-y: auto;
  }

  .l-pageContentWrapper {

    display: flex;
    flex-direction: column;

    .l-contentSection {
      border: solid 2px yellowgreen;

      height: 485px;
      width: 100%;
    }
  }
}

// .l-contentFooterContainer {
//   margin: 0;
// }


