	.l-pageHeader {
    // mobile first settings
    max-width: 736px;

    position: fixed;

    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;

    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    z-index: 1000;

    display: block;

		// display: flex;
		// flex-direction: column;
		// justify-content: space-around;
		// align-items: stretch;

    .l-utilNavContainer {
      display: flex;
      align-items: center;

      justify-content: space-around;
      @include break(md) {
        justify-content: space-between;
      }

      .l-utilityMenuPanel {
        // background-color: lightblue;

        display: none;

        @include break(md) {
          display: block;
        }
      }

      .l-socialNetworkPanel {
        background-color: #a01212;

        flex-basis: 100%;
        padding: 1rem 20% 1rem 20%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        a.socialLink {
          flex: 0 0;
          color: #fff;
          text-decoration: none;
          border-bottom: none;
        }
      }
    }

    .l-siteNavContainer  {
      // border: solid 2px blueviolet;

      background-color: #fff;
      padding: .5rem 1.5rem .5rem 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      a.hamburgerPanel {
        display: block;
        border-bottom: none;
        cursor: pointer;

        .hamburgerMenuLink {
          transform: rotate(0deg);
          transform-origin: 25% 50%;
          transition-timing-function: ease;
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition: .5s;

          display: block;
          margin-left: 1rem;
          
          position: relative;
          width: 72px;
          height: auto;

          .svg-mobileMenu  {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-25%);
          }
        }

        &.s-showMenu .hamburgerMenuLink {
            transform: rotate(90deg);
            transform-origin: 25% 50%;

            transition-timing-function: ease;
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            transition: .5s;
        }

        .hamburgerCancelMenuLink { 
          display: none;
        }

        &.s-showMenu .hamburgerCancelMenuLink {
          display: none;

          // display: block;
          margin-left: 1rem;
          margin-right: 1.2rem;

          position: relative;
          width: 35px;
          max-width: 35px;
          height: auto;

          .svg-mobileMenu  {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-50%);
          }
        }        
      }

      .l-siteLogoPanel {
        // background-color: lightblue;
        margin: 0 auto;
        padding: 10px 10px 10px 0;

        .siteLogo {
          display: flex;
          justify-content: center;
          align-items: center;

          .imageResponsive {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .l-siteMenuPanel {
        background-color: lightcoral;

        display: none;
        @include break(md) {
          display: block;
        }
      }
    }

		@include break(md) {
			justify-content: space-between;
		}

    .l-navContainer {
      border: solid 2px greenyellow;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .l-logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include break(md) {
          flex: 1;
        }
      }
    }

    .l-menuWrapper {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;

      @include break(md) {
        flex-direction: row;
        justify-content: flex-end;
      }

      .l-menuContainer {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        @include break(md) {
          display: block;
        }

        margin: 0;
      }

      .l-menuContainer.js-l-mobile {
        display: none;

        @include break(md) {
          display: block;
        }
      }
    }
	}