extends layouts/layout-with-util-nav

block pageTitle
  title Landing 

block pageContent
  .l-contentSection.l-contentSection--slide 
    h2 Slider 

  .l-contentSection.l-contentSection--tour
    h2 Tour

  .l-contentSection.l-contentSection--news
    h2 News 

  .l-contentSection.l-contentSection--video
    h2 Video 

  .l-contentSection.l-contentSection--discography
    h2 Discography 
