extends includes/base

block pageTitle
  title Quick UI

block bodyContent

  header
    #circular-bg
    #logo
      a(href="#") URBANEARS

    nav
      a(href="#") Headphone
      a(href="#") Speakers
      a(href="#") Accessories

    #menu-icon
      .bar 
      .bar 

  h1#platten platten
    amg(src="http://res.cloudinary.com/prvnbist/image/upload/v1496378767/urbanearshdphn.png")

  h2#headline
  | The perfect
  bar| clas headphone color
  button: a(href="#") Shop Now

  #left
  i.fa.fa-long-arrow-left
  #right
  i.fa.fa-long-arrow-right