extends includes/base

block pageTitle
  title Quick UI

block bodyContent

  header
    #logo
    #menu-button
      .bar
      .bar
      .bar

    #menu-bg

    .nav
      a(href="#") Blog
      a(href="#") Work
      a(href="#") Services
      a(href="#") About us
      a(href="#") Contacts

    #menu-icon
      .bar 
      .bar 

    #wrap
      h1
        | Graphic design is the paradise of individuality, eccentricity, heresay, abnormality, hobbies, and humors.