extends layouts/layout-with-util-nav

block pageTitle
  title Landing 

block pageContent
  .l-contentSection.l-contentSection--slide 
    h2 Slider 
    p.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolor tempore quod vitae ipsum velit voluptatibus blanditiis. Vero eum, hic fugiat tenetur at dignissimos saepe nihil dolores quisquam facilis.
    p.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolor tempore quod vitae ipsum velit voluptatibus blanditiis. Vero eum, hic fugiat tenetur at dignissimos saepe nihil dolores quisquam facilis.
  
  .l-contentSection.l-contentSection--tour
    h2 Tour
    p.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique repellendus mollitia adipisci repudiandae rerum itaque, id aspernatur explicabo? Sit beatae delectus ullam magni fugiat fugit, esse accusamus recusandae doloremque similique, architecto perferendis alias. Aut, odit quis eos nisi quibusdam.
  .l-contentSection.l-contentSection--news
    h2 News 
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cumque, ad placeat ducimus, iure odio possimus excepturi quaerat aspernatur nobis, ipsa alias voluptates repudiandae rerum, voluptas molestias maxime corporis explicabo quam consectetur.

  .l-contentSection.l-contentSection--video
    h2 Video 
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique nobis iusto quos impedit! Facere nihil dignissimos, hic, facilis quod maxime eum accusamus aperiam! Quas officiis animi ab accusantium reiciendis qui sit quia quis officia.

  .l-contentSection.l-contentSection--discography
    h2 Discography 
    p.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias obcaecati eum quae aspernatur, fuga repellendus, animi eaque nam aliquam sed, vel delectus atque earum sint!
