extends ../includes/base

block pageTitle
  block pageTitle

block bodyContent
  .l-pageContainer.pageContainer
    .l-pageHeader.pageHeader
      include ../components/navigation/utility-nav-bar
      include ../components/navigation/site-nav-bar
    
    block pageContent

    include ../components/footer/default-footer